<div class="bg-color full-width min-vh-100" *ngIf="!isLoading">
  <div class="page-header d-flex flex-row px-4 pt-3 align-items-center justify-content-between">
    <h1 class="m-0">Moduli</h1>
    <button mat-fab (click)="data()" class="text-white bg-tertiary">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <hr class="mt-2">

  <div class="px-4 mb-3">
    <div class="row">
      <div class="col-12 col-md-10">
        <mat-form-field appearance="outline" class="w-100 hide-subscript">
          <mat-label>Cerca moduli...</mat-label>
          <input matInput 
                 [(ngModel)]="filters.filter" 
                 (keyup.enter)="loadModules(true)" 
                 placeholder="Cerca per cliente, studio o descrizione">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-2 row gap-1 justify-content-center">
        <button mat-raised-button color="primary" class="col py-4 mt-1" (click)="loadModules(true)">
          CERCA
        </button>
        <button mat-raised-button color="secondary" class="col py-4 mt-1" (click)="loadModules(true, true)">
          CANCELLA
        </button>
      </div>
    </div>
  </div>

  <div class="px-2">
    @if(list && list.length > 0) {
      <div class="row full-width m-0">
        @for(el of list; track el.id) {
          <app-module-card [moduleInfo]="el" class="col-12 col-md-6 col-lg-4 mb-3"></app-module-card>
        }
      </div>

      <div class="d-flex justify-content-center pb-5 mt-4">
        <mat-paginator [length]="totalCount"
                       [pageSize]="filters.perPage"
                       [pageIndex]="filters.pageIndex - 1"
                       [pageSizeOptions]="[10,20,30]"
                       (page)="onPageChange($event)"
                       class="rounded shadow-sm">
        </mat-paginator>
      </div>
    } @else {
      <div class="row justify-content-center text-center full-width m-0 py-5">
        <div class="col-12">
            <mat-icon style="font-size: 64px; height: 64px; width: 64px; color: #ccc;">search_off</mat-icon>
            <h2 class="text-secondary mt-3">Nessun modulo trovato</h2>
            <p class="text-muted">Prova a cambiare i filtri di ricerca</p>
        </div>
      </div>
    }
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>