<mat-drawer-container class="overflow-hidden full-height-no-overflow">
  <mat-drawer
    style="width: 20%;"
    class="bg-tertiary d-flex flex-column"
    #drawer
    [mode]="'side'"
    opened
  >
    <div class="d-flex overflow-hidden flex-column">
      <div
        class="full-width d-flex justify-content-center my-5"
        style="height: 40px"
      >
        <mat-icon
          [style.font-size.px]="50"
          [style.height.px]="50"
          [style.width.px]="50"
          class="text-white"
          fontIcon="folder_open"
        />
      </div>
      <div class="d-flex flex-column px-2">
        @for (s of dataSections; track s) {
        <button
          style="height: 50px"
          class="mb-2 text-white full-width d-inline-block justify-content-center"
          [ngClass]="{
            'bg-secondary': activeLink != s.route,
            'bg-primary': activeLink == s.route
          }"
          mat-fab
          extended
          (click)="routeToSection(s.route)"
        >
          <div class="row align-items-center">
            <span class="col-3">
              <mat-icon
                [style.font-size.px]="20"
                [style.height.px]="20"
                [style.width.px]="20"
                class="text-white"
                fontIcon="{{ s.iconName }}"
              />
            </span>
            <span class="col-9 d-md-flex d-sm-none overflow-hidden" style="text-align: left; white-space: nowrap">
              {{ s.title | uppercase }}
            </span>
          </div>
        </button>
        }
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="bg-color">
    <div class="full-height-no-overflow">
      <app-section [section]="activeSection"></app-section>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
