<div class="full-height-no-overflow p-2">
  <div class="section-header d-flex flex-row px-2 align-items-center justify-content-between  px-4">
    <h1 class="title">{{ section.title }}</h1>
    <div
      class="justify-content-center full-width d-flex flex-row"
      *ngIf="section.subSections != null && section.subSections.length > 0"
    >
      @for (sub of section.subSections; track sub) {
      <button
        style="height: 25px"
        class="text-white col-1 d-inline-block justify-content-center"
        [ngClass]="{
          'bg-secondary': activeLink != sub.route,
          'bg-primary': activeLink == sub.route
        }"
        mat-fab
        extended
        (click)="setActiveLink(sub.route)"
      >
        <span
          class="col-9"
          style="
            text-align: left;
            white-space: nowrap;
            font-size: 12px;
            text-overflow: ellipsis;
          "
        >
          {{ sub.title | uppercase }}
        </span>
      </button>
      }
    </div>
    <div class="d-flex justify-content-center">
      <button mat-fab (click)="data()" class="text-white bg-tertiary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="full-height-no-title full-width" *ngIf="rowData != null">
    <ag-grid-angular
      class="ag-theme-alpine full-height"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
