<div
  class="full-width home-container full-height-no-overflow"
  style="
    min-width: 100%;
    background-image: url('assets/images/bg.jpg');
  "
>
  <div class="row d-flex justify-content-between">
    <div class="col p-5 d-flex justify-content-center">
      <app-home-section-card
        colorClass="bg-secondary"
        title="Dati"
        [titleSize]="20"
        [iconSize]="100"
        iconName="folder_open"
        route="/data"
      ></app-home-section-card>
    </div>
    <div class="col p-5 d-flex justify-content-center">
      <app-home-section-card
        title="Moduli"
        [titleSize]="20"
        [iconSize]="100"
        colorClass="bg-tertiary"
        iconName="insert_drive_file"
        route="/modules"
      ></app-home-section-card>
    </div>
  </div>
</div>
