<div class="full-width home-container full-height-no-overflow"
    style="min-width: 100%;background-image: url('../../../../assets/images/bg.jpg');">
    <div class="full-width row d-flex justify-content-between">
        <div class="col p-5">
            <app-home-section-card sectionTitle="Dati" iconSize="40px" colorClass="bg-secondary" iconName="folder_open"></app-home-section-card>
        </div>
        <div class="col p-5">
            <app-home-section-card colorClass="bg-tertiary" iconName=""></app-home-section-card>
        </div>
    </div>
</div>