@import "bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-icons/iconfont/material-icons.css";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-color: #dcf2f1 !important;
  --bg-gray: #d9d9d9 !important;
  --table-data-bg-color: rgba(255, 255, 255, 0.4) !important;
  --primary: #0f1035 !important;
  --secondary: #365486 !important;
  --tertialy: #7fc7d9 !important;
  --text-color-white: #fff !important;
  --text-color-black: #000 !important;
}

.bg-color {
  background-color: var(--bg-color) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-tertiary {
  background-color: var(--tertialy) !important;
}

.bg-gray {
  background-color: var(--bg-gray) !important;
}

.text-white {
  color: var(--text-color-white) !important;
}

.text-black {
  color: var(--text-color-black) !important;
}

/*----POSITIONING----*/

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

/* ----DIMENSIONS----- */
.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-height-no-overflow {
  height: calc(100vh - 80px) !important;
}

/* ----TEXT---- */

.no-decoration {
  text-decoration: none;
}

/*----HOVER ANGULAR MATERIAL----*/
/* .mat-mdc-tab-links 
{
    flex-direction: column !important;
} */

/* -----AG----- */
