
@import 'material-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --bg-color: #DCF2F1;
    --table-data-bg-color: rgba(255,255,255,0.4)
    --primary: #0F1035;
    --secondary: #365486;
    --tertialy: #7FC7D9
    --text-color-white : #FFF;
    --text-color-black : #000;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bh-tertiary {
    background-color: var(--tertialy);
}

.text-white {
    color: var(--text-color-white);
}

.text-black {
    color: var(--text-color-black);
}

/*----POSITIONING----*/

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/* ----DIMENSIONS----- */
.full-height-no-overflow {
    height: calc(100vh - 80px)
}