<div class="p-2 justify-content-center">
    <h1 mat-dialog-title>
        {{data.title}}
    </h1>

    <div mat-dialog-content>
        @if(fields != null && fields.length > 0)
        {
            <form [formGroup]="form" (ngSubmit)="confirm()">
                <formly-form [fields]="fields!" [model]="model" [form]="form" (modelChange)="change($event)"></formly-form>
            </form>
        }@else {
            <h2>No Content</h2>
        }
    </div>

    <div mat-dialog-actions class="mb-0 justify-content-end full-width">
        <button class="bg-white text-black fw-bolder" mat-button (click)="cancel()">Cancel</button>
        <button [disabled]="!form.valid" mat-raised-button class="bg-secondary text-white" (click)="confirm()">Confirm</button>
    </div>
    
</div>