<div class="p-2" style="width : 1000px; height : 800px">
    <div mat-dialog-title>
        <h1>Print</h1>
    </div>

    <div mat-dialog-content>
        @if(modules != null && modules.length > 0)
        {
        <mat-stepper class="full-width" [linear]="true" #stepper>
            @for (pdf of pdfs; track $index) {
            <mat-step>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <ng-template matStepLabel>{{pdf.name}}</ng-template>
                    <h1>{{pdf.name}}</h1>
                    <!-- <div class="module-container">
                        <div #toPrint [innerHtml]="module.content | to_trusted_html">

                        </div>
                    </div> -->
                    <pdf-viewer [src]="pdf.src" [render-text]="true" [original-size]="false"
                        class="module-container"></pdf-viewer>
                </div>
            </mat-step>
            }
        </mat-stepper>
        }@else {
        <h2>No Content</h2>
        }
    </div>

    <div mat-dialog-actions class="mb-0 justify-content-end full-width">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="bg-primary" (click)="print()">Print</button>
    </div>
</div>